$mobile-max: 639px;
$tablet-min: 640px;
$tablet-max: 1199px;
$desktop-min: 1200px;

$xs: 480px;
$sm: $tablet-min;
$md: 768px;
$lg: 1024px;
$xl: $desktop-min;

@mixin xs {
  @media (max-width: $xs) {
    @content;
  }
}

@mixin sm {
  @media (max-width: $sm) {
    @content;
  }
}

@mixin md {
  @media (max-width: $md) {
    @content;
  }
}

@mixin lg {
  @media (max-width: $lg) {
    @content;
  }
}

@mixin xl {
  @media (max-width: $xl) {
    @content;
  }
}
