  .containerExampleType {
    display: flex;
    flex-direction: row;
    gap: clamp(50px, 4.31vw, 75px);

    .exampleImg {
      border-radius: 20px;
      width: clamp(510px, 50vw, 765px);
      height: clamp(672px, 70vw, 1008px);
      background: #d9d9d9;
    }

    .containterType {
      display: flex;
      flex-direction: column;
      gap: clamp(60px, 5.21vw, 90px);

      .title {
        margin-bottom: 20px;
        font-family: 'RightGrotesk', sans-serif;
        font-weight: 500;
        font-size: clamp(36px, 3.125vw, 54px);
        color: #440a18;
      }

      .selectorGroup{
        .selector {
          display: flex;
          flex-direction: column;
          gap: clamp(10px, 0.83vw, 15px);
          .selector__item {
            display: flex;
            align-items: center;
            gap: clamp(10px, 0.83vw, 15px);
            cursor: pointer;
            text-transform: lowercase;
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            font-size: clamp(20px, 1.736vw, 30px);
            color: #121319;

            input {
              display: none;
            }

            .selector__custom {
              width: clamp(26px, 2.26vw, 39px);
              height: clamp(26px, 2.26vw, 39px);
              border: 2px solid #440a18;
              border-radius: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: background-color 0.5s ease-in-out;

              .selector__check {
                width: clamp(16px, 1.39vw, 24px);
                height: clamp(16px, 1.39vw, 24px);
                display: none;
              }
            }

            input:checked + .selector__custom {
              background-color: #440a18;
              border: 2px solid transparent;

              .selector__check {
                display: block;
              }
            }
          }
        }
      }

      .uploadBlock{
        .loadButton{

        }
      }
    }
  }


  @media (max-width: 768px) {
    .containerExampleType {

    }
  }