.footer {
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


.social-links {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.social-icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease, opacity 0.3s;
}

.social-icon:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

