#main_block{
    height: calc(100vh - 100px);
    background-image: url('../../../images/file.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    overflow: hidden; 
    position: relative;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
}

.main_block_order_button {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  padding: 20px;
  font-size: 48px;
  font-weight: 600;
  color: #222;
  background: linear-gradient(135deg, #fdfdfd, #dcdcdc);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

  &:hover {
    background: linear-gradient(135deg, #f0f0f0, #d4d4d4);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  }

  @include respond-to(lg) {
    font-size: 36px;
    width: 40%;
  }

  @include respond-to(md) {
    font-size: 32px;
    width: 50%;
  }

  @include respond-to(sm) {
    font-size: 28px;
    width: 60%;
  }

  @include respond-to(xs) {
    font-size: 24px;
    width: 70%;
  }
}

#roadmap_block{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap:10px;
  img{
    width: 100%;
    height: auto;
    max-width: 1024px;
    display: block;
  }
  .title{
    font-size: clamp(36px, 5vw, 48px);
    font-weight: 700;
    text-align: center;
  }
  .roadmap_button {
    width: 40%;
    padding: 20px;
    font-size: 48px;
    font-weight: 600;
    color: white;
    background: linear-gradient(135deg, #2e2e2e, #000000);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  
    &:hover {
      background: linear-gradient(135deg, #3b3b3b, #131313);
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    }
  
    &:active {
      transform: translateX(-50%) scale(0.98);
    }
  
    /* 📱 Адаптивность */
    @include respond-to(lg) {
      font-size: 36px;
      width: 40%;
    }
  
    @include respond-to(md) {
      font-size: 32px;
      width: 50%;
    }
  
    @include respond-to(sm) {
      font-size: 28px;
      width: 60%;
    }
  
    @include respond-to(xs) {
      font-size: 24px;
      width: 70%;
    }
  }  
}


