.containerDetails{
    display: flex;
    flex-direction: row;
    gap: clamp(20px, 1.74vw, 30px);

    .firstColumn{
        display: flex;
    
        flex-direction: column;
        gap: clamp(40px, 3.47vw, 60px);
        .recipientInfo{
            .title{
                font-family: 'RightGrotesk', sans-serif;
                font-weight: 500;
                font-size: clamp(36px, 3.125vw, 54px);
                color: #440a18;
                margin-bottom: 30px;
            }
            .data{
                display: flex;
                flex-direction: row;
                gap: clamp(20px, 1.74vw, 30px);
                input {
                    box-sizing: border-box;
                    width: 433px;
                    height: 43px;
                    padding: 10px 10px 10px 20px;
                    border: 1px solid #121319;
                    border-radius: 10px;
                    font-weight: 400;
                    font-size: clamp(20px, 1.736vw, 30px);
                    font-family: 'Raleway', sans-serif;
                    transition: border 0.2s ease-in-out;

                    &::placeholder {
                        color: rgba(18, 19, 25, 0.5);
                    }

                    &:focus {
                        outline: none;
                        border-color: #440a18;
                    }

                    &:disabled {
                        background-color: #fff;
                    }
                }
            }
            .FIO{
                display: flex;
                flex-direction: column;
                gap: clamp(10px, 0.83vw, 15px);
            }
        }

        .deliveryInfo{
            display: flex;
            flex-direction: column;
            .title{
                font-family: 'RightGrotesk', sans-serif;
                font-weight: 500;
                font-size: clamp(36px, 3.125vw, 54px);
                color: #440a18;
                margin-bottom: 30px;
            }
            .blockCDEK{
                #cdek-map{
                    border-radius: 20px;
                    width: 887px;
                    height: 430px;
                    border: 2px solid #440a18;
                }
            }
        }
    }

    .secondColumn{
        width: 100%;
        .deliveryCost{
            display: flex;
            flex-direction: column;
            .title{
                font-family: 'RightGrotesk', sans-serif;
                font-weight: 500;
                font-size: clamp(36px, 3.125vw, 54px);
                color: #440a18;
                margin-bottom: 30px;
            }
            .aboutPrice{
                font-family: 'Raleway', sans-serif;
                font-weight: 400;
                font-size: clamp(24px, 2.08vw, 36px);
                color: #121319;
                &_calculate{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
                .summaryCost{
                    font-family: 'RightGrotesk', sans-serif;
                    margin-top: 30px;
                    font-weight: 500;
                    font-size: clamp(24px, 2.08vw, 36px);
                    color: #440a18;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
        }
    }
}

.tooltip-container {
    margin-top: 40px;
    position: relative;
    display: inline-block;
    .confirmButton{
        border-radius: 20px;
        height: clamp(68px, 5.9vw, 102px);
        background: #440a18;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: clamp(24px, 2.08vw, 36px);
        color: #fff;
        border: none;
        cursor: pointer;
        width: 100%;
    }
}
  
  .tooltip-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: clamp(14px, 1.22vw, 21px);
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 6px 8px;
    position: absolute;
    z-index: 1;
    bottom: 130%; 
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
  }
  
  .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  