.grid-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 150px;
  gap: 1px;
}


.grid-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s;
}

.grid-item:hover img {
  transform: scale(1.05);
}

/* размеры карточек */
.grid-item.small {
  grid-column: span 1;
  grid-row: span 1;
}

.grid-item.tall {
  grid-column: span 1;
  grid-row: span 2;
}

.grid-item.wide {
  grid-column: span 2;
  grid-row: span 1;
}

.grid-item.large {
  grid-column: span 2;
  grid-row: span 2;
}

.gallery-scroll-container {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
.scrollable-content {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}
